@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@font-face {
    font-family: "EXO";
    src: url(../fonts/B\ Zar\ Bold_0.ttf);
    font-weight: 500;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EXO";
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../images/church.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section {
    position: relative;
    width: 29rem;
    height: 42rem;
    border: 4px solid rgba(7, 4, 109, 0.81);
    border-radius: 29% 4%;
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
}
.bor{
    padding: 9px;
    border-radius: 30px;
    border-top: 4px solid orange;
    border-top-left-radius: 28%;
    border-right: 7px solid orange;
    border-bottom-right-radius: 28% ;
}
form{
    width: 91%;
}
h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}
.loginn{
    color: rgb(21, 21, 101);
    font-size: 24px;
    line-height: 1px;
    padding-bottom: 1.5rem;
}
.logo-img{
    width: 120px;
    height: 120px;
}
.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 20rem;
    border-bottom: 4px solid #09176f;
    border-radius: 35px;
    padding-left: 0.7rem;
    display: flex;
    align-items: center ;
}
.inputbox label {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #0c0e86;
    font-size: 1.2rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
input:focus ~ label, 
input:valid ~ label {
    transform: scale(0.8);
    top: -1rem;
    right: 0;
}
.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #0c0e86;
    text-align: right;
}
.forget {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
 
}
.forget label input {
    margin-right: 3px;
}
.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.forget a:hover {
    color: orange;
    text-decoration: none;
}
button {
    letter-spacing: 1px;
    width: 98%;
    height: 40px;
    border-radius: 50px 10px 50px 10px;
    background-color: #FFA726;
    border: 3px solid #192ca4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover {
  color: rgb(221, 92, 6);
  background-color: rgb(218, 215, 212);
}
.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 8px 10px;
}
.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding-left: 0.7rem;
}
.register p a:hover {
    color: orange ;
    text-decoration: none;
}
.home-icon{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 83px;
    height: 76px;
}
image .u{
    color: orange;
}
.remmember{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
    color: #09176f;
}
#remmemberMe:hover{
    cursor: pointer;
    transform: scale(1.2);
}

