<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پیش نمایش</title>
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/preview_style.css">
</head>
<body>
    <form action="" method="post">
        <img src="" id="previewImage" alt="عکس انتخاب شده" style="max-width: 800px;">
        <input type="text" name="city-name" id="city-name" placeholder="نام محل را وارد کنید ...">
        <button id="sendPostData" name="sendPostData">بارگزاری</button>
    </form>
    <script src="../static/js/previewScript.js"></script>
</body>
</html>