<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Doc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/travel_style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}">
</head>
<body>
    <div>
        <p class="trav">مکان های گردشگری جذاب از نظر ما</p>
        <a href="/">
            <image class="home-gif" src="{{ url_for('static', filename='images/home_icon.gif')}}">
        </a>
    </div>  
    <img class="woman" src="{{ url_for('static', filename='images/undraw_woman_ffrd.svg')}}" alt="no-svg-found">
    <div class="container">
        <div class="wrapper">
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/login_bg.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>دریای مه آلود</h1>
                    <h2 style="letter-spacing: 1px;">واقع در ترکیه</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">وسیع</span>
                        <span class="tag">آرام</span>
                        <span class="tag">زیبا</span>
                    </div>
    
                    <p class="desc">
                            خیلی قشنگه ، ماهی های زیبایی داره و علاوه بر اون محل بسیار ارام و زیبایی برای سفر هست و خیلی خوش میگذره .
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">برای مطالعه بیشتر <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">کلیک کنید</a></h3>
                        <ul>
                            <li><img src="{{ url_for('static', filename='images/l1.jpg')}}" alt="lorem" title="lorem"></li>
                            <li><img src="{{ url_for('static', filename='images/l2.jpg')}}" alt="lorem" title="lorem"></li>
                            <li><img src="{{ url_for('static', filename='images/l3.jpg')}}" alt="lorem" title="lorem"></li>
                            <li><img src="{{ url_for('static', filename='images/l4.jpg')}}" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/login_bg2.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/login_bg3.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider1.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider10.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider2.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider3.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider4.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider5.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider8.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/slider9.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="{{ url_for('static', filename='images/amazaing1.jpg')}}" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Los Angeles</h1>
                    <h2 style="letter-spacing: 1px;">city in USA</h2>
                    
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="tags">
                        <span class="tag">Lorem.</span>
                        <span class="tag">lorem.</span>
                        <span class="tag">Lorem.</span>
                    </div>
    
                    <p class="desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque tempore ad iste illum accusantium repellat eum vitae perspiciatis cumque. Amet?
                    </p>
                    <div class="cast">
                        <h3 style="font-size: 0.9rem;">For more information follow <a href="https://en.wikipedia.org/wiki/Los_Angeles" target="_blank">Link</a></h3>
                        <ul>
                            <li><img src="../images/l1.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l2.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l3.jpg" alt="lorem" title="lorem"></li>
                            <li><img src="../images/l4.jpg" alt="lorem" title="lorem"></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>